# src/main/resources/application-docker.yml
spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_NAME:walletdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres123}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
  
  jpa:
    hibernate:
      ddl-auto: create-drop  # Используем create-drop для теста
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  liquibase:
    enabled: true

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    com.wallet: DEBUG
    org.springframework: INFO
    org.hibernate.SQL: DEBUG