spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/walletdb
    username: postgres
    password: postgres123
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate  # Измените с create-drop на validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    enabled: true
    # Используем путь, который работает внутри JAR
    change-log: classpath:/db/changelog/db.changelog-master.yaml

server:
  port: 8080

logging:
  level:
    com.wallet: DEBUG
    org.springframework: INFO
    org.hibernate.SQL: DEBUG